@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
.blobs {
  width: 100%;
  height: 140vh;
}
.blobs .blob1 {
  left: -20%;
  top: -30%;
  position: absolute;
  height: 60vw;
  max-height: 80vh;
  transform: rotateZ(-40deg);
}
.blobs .blob2 {
  right: -30%;
  top: -50%;
  position: absolute;
  height: 100vw;
  max-height: 140vh;
  transform: rotateZ(20deg);
}
@media only screen and (max-width: 850px) {
  .blobs .blob1 {
    top: -30%;
  }
  .blobs .blob2 {
    top: -50%;
  }
}

.blobsMob {
  width: 100%;
}
.blobsMob .blob1 {
  position: absolute;
  width: 27vh;
  transform: rotateZ(-40deg);
  left: -30%;
  top: -17vh;
}
.blobsMob .blob2 {
  position: absolute;
  right: -55%;
  top: -35vh;
  width: 55vh;
  transform: rotateZ(10deg);
}

.contact {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.contact .contactForm {
  position: absolute;
  color: var(--colorDark);
  left: 0;
  margin-left: 10%;
  height: 75vh;
  width: 70vh;
  background-color: var(--colorLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
}
.contact .contactForm form {
  width: 80%;
}
.contact .contactForm header {
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  letter-spacing: 3px;
  font-size: var(--fontSizeLarge);
  text-align: center;
}
.contact .contactForm header a {
  letter-spacing: 6px;
  font-size: 1.3vh;
  opacity: 0.7;
}
.contact .contactForm .input {
  margin: 1vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact .contactForm .input input {
  color: white;
  outline: none;
  width: 55%;
  padding: 0.8vh;
  border-radius: var(--borderRadius);
  background-color: var(--colorDark);
}
.contact .contactForm .input textarea {
  color: white;
  outline: none;
  width: 55%;
  padding: 0.8vh;
  border-radius: var(--borderRadius);
  background-color: var(--colorDark);
}
.contact .contactForm .input .area {
  min-height: 20vh;
}
.contact .contactForm .button {
  display: none;
}
.contact .contactForm .buttonContainer {
  margin-left: 80%;
  margin-top: 5%;
}
.contact .background {
  width: 60vw;
  aspect-ratio: 1/1;
  max-width: 60vh;
  margin-right: 5%;
  position: relative;
  -webkit-animation: background 5s ease-in-out;
          animation: background 5s ease-in-out;
}
.contact .background .circle {
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
}
.contact .background .circle1 {
  transform: rotatez(-120deg);
  width: 50%;
  background-image: linear-gradient(to left, rgba(32, 171, 196, 0.8), rgba(32, 171, 196, 0.24), rgba(32, 171, 196, 0));
}
.contact .background .circle2 {
  transform: rotatez(-60deg);
  right: 25%;
  top: 5%;
  background-image: linear-gradient(to left, rgba(32, 196, 180, 0.8), rgba(32, 171, 180, 0.24), rgba(32, 171, 180, 0));
  width: 40%;
}
.contact .background .circle3 {
  transform: rotatez(120deg);
  background-image: linear-gradient(to left, rgba(32, 171, 190, 0.8), rgba(32, 171, 190, 0.24), rgba(32, 171, 190, 0));
  bottom: 15%;
  left: 2%;
  width: 40%;
}
.contact .background .circle4 {
  transform: rotatez(30deg);
  background-image: linear-gradient(to left, rgba(32, 171, 220, 0.8), rgba(32, 170, 220, 0.169), rgba(32, 171, 220, 0));
  right: 15%;
  bottom: 10%;
  width: 52%;
}
@-webkit-keyframes background {
  0% {
    opacity: 0;
    transform: rotateZ(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}
@keyframes background {
  0% {
    opacity: 0;
    transform: rotateZ(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateZ(360deg);
  }
}

.contactMob {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactMob .contactForm {
  margin-top: 100px;
  color: var(--colorDark);
  height: 75vh;
  width: 90%;
  background-color: var(--colorLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--borderRadius);
}
.contactMob .contactForm form {
  width: 80%;
}
.contactMob .contactForm header {
  margin: 30px 0;
  letter-spacing: 3px;
  font-size: var(--fontSizeLargeMob);
  text-align: center;
}
.contactMob .contactForm .input {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contactMob .contactForm .input input {
  color: white;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: var(--borderRadius);
  background-color: var(--colorDark);
}
.contactMob .contactForm .input textarea {
  color: white;
  outline: none;
  width: 100%;
  padding: 8px;
  border-radius: var(--borderRadius);
  background-color: var(--colorDark);
}
.contactMob .contactForm .input .area {
  height: 20vh;
}
.contactMob .contactForm .buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contactMob a {
  font-size: 3vw;
  letter-spacing: 3px;
  margin-top: 10px;
}